@tailwind base;
@tailwind components;
@tailwind utilities;

.equalFlexPart {
  @media (min-width: 768px) {
    flex: 1 1 0px;
  }
}

html,
body {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  height: 100lvh;
}
.content {
  flex: 1 0 auto;
}

.custom-scrollbar {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer/Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}
